@use '@/static/styles/_tokens.scss' as *;
@use '@/static/styles/_reset.scss' as *;
@use '@/static/styles/_mixins.scss' as *;

.title{
  font-family: $font-title;
  color: $color_text_accent;
  font-size: clamp($font-size-subheading, 7vh, $font-size-heading);
  margin: 0.5rem 0;
}

.alt-title{
  font-family: $font-title;
  color: $color_text_light;
  font-size:  clamp($font-size-body, 10vh, $font-size-subheading);
}

.subtitle{
  font-family: $font-title;
  color: $color_text_accent;
  font-size: $font-size-subheading;
}

.subsection_title{
  font-family: $font-basic;
  font-size: $font-size-subtitle;
}

.basic-text{
  font-family: $font-basic;
  font-size: $font-size-body;
}

.note{
  font-family: $font-basic;
  color:$color_text_muted;
  font-style: italic;
  font-size: $font-size-caption;
}

.tag{
  font-family: $font-basic;
  color: $color_text_muted;
  font-size: $font-size-caption;
  padding: 0.25em;
  @include dashed-rounded;
  cursor: pointer;
}

.subsection_container{
  margin: 1em 0;
}
