//-------------------------------------------------------
//-----------------------IMPORTS-------------------------
//-------------------------------------------------------
@use '@/static/styles/_tokens.scss' as *;
@use '@/static/styles/_reset.scss' as *;
@use '@/static/styles/_mixins.scss' as *;
@forward '@/static/styles/_text_classes.scss';
@forward '@/static/styles/_tokens.scss';
@forward '@/static/styles/_mixins.scss';


// Text Classes

// cancelling out styles
h1, h2, h3, p {
  margin: 0;
  padding: 0;
}

#app {
  min-height: 100vh;
  padding: 1em;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#app > *:last-child {
  flex: 1;
}
