//fonts
$font-basic: Neue_Montreal;
$font-title: Migra_bold;

// Color Variables
$color_bg: #F3F3F4;
$color_bg_hilite: #f8faff;

$color_text_base: #212121;
$color_text_accent: #002FA7;
$color_text_light: #477EFF;
$color_text_muted: #7E7F83;

$test:#ff00ff;

//mixins
@mixin dashed-rounded($color: $color_text_muted){
  border: 1pt dashed $color;
  border-radius: 5px;
}

@mixin section{
  margin-bottom: 1em;
}

@mixin row($justify: flex-start, $align: center, $gap: 0.5em){
  display: flex;
  flex-direction: row;
  justify-content: $justify;
  align-items: $align;
  gap: $gap;
}

@mixin column($justify: flex-start, $align: center, $gap: 0.5em){
  display: flex;
  flex-direction: column;
  justify-content: $justify;
  align-items: $align;
  gap: $gap;
}

@mixin hover{
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

@mixin border(
  $top: false, $right: false, $bottom: false, $left: false,
  $width: 1px, $style: solid, $color: $color_text_muted
) {
  @if $top { border-top: $width $style $color; }
  @if $right { border-right: $width $style $color; }
  @if $bottom { border-bottom: $width $style $color; }
  @if $left { border-left: $width $style $color; }
}

// Text Classes
.title{
  font-family: $font-title;
  color: $color_text_accent;
  font-size: 32pt;
  margin: 0.5rem 0;
}

.alt-title{
  font-family: $font-title;
  color: $color_text_light;
  font-size: 14pt;
}

.subtitle{
  font-family: $font-title;
  color: $color_text_accent;
  font-size: 24pt;
}

.subsection_title{
  font-family: $font-basic;
  font-size: 14pt;
}

.note{
  font-family: $font-basic;
  color:$color_text_muted;
  font-style: italic;
  font-size: 11pt;
}

.basic-text{
  font-family: $font-basic;
  font-size: 11pt;
}

.tag{
  font-family: $font-basic;
  color: $color_text_muted;
  font-size: 11pt;
  padding: 0.25em;
  @include dashed-rounded;
}

.subsection_container{
  margin: 1em 0;
}

// cancelling out styles
a{
  text-decoration: none;
}

h1, h2, h3, p {
  margin: 0;
  padding: 0;
}

html{
  height: 100vh;
  width: 100vw;
}
body{
  padding: 0;
  margin: 0;
  box-sizing: border-box;

}
#app {
  min-height: 100vh;
  padding: 1em;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}

#app > *:last-child {
  flex: 1;
}
*, *::before, *::after {
  box-sizing: border-box;
}

/* 2) Prevent common “mystery overflow” */
html, body {
  width: 100%;
  margin: 0;
}
